<a href="https://colab.research.google.com/github/Dhruv-958/pracs/blob/main/titanic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yasserh/titanic-dataset")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/titanic-dataset

In [50]:
def map_reduce_with_pandas(input_file):
 # Load the dataset
 df = pd.read_csv(input_file)

 deceased_males = df[(df['Survived'] == 0) & (df['Sex'] == 'male')]
 average_age_deceased_males = deceased_males['Age'].mean()

 deceased_females_by_class = df[(df['Survived'] == 0) & (df['Sex'] ==
 'female')]
 count_deceased_females_by_class = deceased_females_by_class['Pclass'].value_counts()

 return average_age_deceased_males, count_deceased_females_by_class

In [54]:
input_file = 'Titanic-Dataset.csv'
average_age, female_class_count = map_reduce_with_pandas(input_file)
print(f"Average age of males who died: {average_age:.2f}")
print("Number of deceased females in each class:")
print(female_class_count)

Average age of males who died: 31.62
Number of deceased females in each class:
Pclass
3    72
2     6
1     3
Name: count, dtype: int64